
* {
	padding: 0;
	margin: 0;
}


h1.header--top {
	font-family: 'Raleway', sans-serif;
	font-size: 63px;
	letter-spacing: 38px;
	color: #666;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 39px;
	padding-bottom: 38px;
	padding-top: 38px;
	text-align: center;
	border-bottom: 4px solid #666;

}

nav { 
	text-align: center;
	padding-bottom: 63px;
}

a {
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #666;
	font-size: 22.6px;
	font-weight: normal;
}

a:hover {
	color: #999;
}

p { 
font-size: 14px;
line-height: 1.5;
padding-bottom: 23px;
font-family: 'helevetica neue', sans-serif;
color: #666;
}


h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 38px;
	padding-bottom: 23px;
	line-height: 38px;
	font-weight: lighter;
	color: #666;
}

.brief {
	height: 300px;
}

.blurb {
	text-align: left;
	font-family: "helevetica neue", sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #666;
	font-weight: lighter;
	padding-bottom: 21px;
}

.break {
	/*background: #808080;*/
	height: 105px;
	 border-top: 4px solid #666;
	 border-bottom: 4px solid #666;
	margin-top: 42px;
	margin-bottom: 56px;

}

.header--work {
	text-align: center;
	font-family: "helevetica neue", sans-serif;
	font-weight: lighter;
	color: #666;
	letter-spacing: 18px;
	font-size: 22px;
	line-height: 38px;
	padding-top: 28px;
	padding-bottom: 35px;

}

.section_header {
	font-family: "Raleway", sans-serif;
	font-weight: lighter;
	color: #666;
	letter-spacing: 23px;
	font-size: 23px;
	text-transform: uppercase;


}
/*Circular project links*/
.work {
 
	height: 180px;
	width: 180px;
	border-radius: 50%;
	margin:0 auto;
	line-height: 180px;
	background-color: #999;
	padding: 0;

}

.stagger { 
	left: 12.5%;
	position: relative;
}

.hide {
	display: none;
}

h3.project {
	margin: 0;
	font-weight: normal;
	color: #fff;
	font-family: "Raleway", sans-serif;
	font-size: 23px;
	letter-spacing: 2px;
	padding-left: 13px;
	text-transform: uppercase;
}

.work .project:hover {
	background-color: #ececec;
	color: #666;
	border-radius: 50%;
}



.icon_case {
	margin: auto;
}


.icon {
	background: #ececec;
	height: 63px;
	width: 63px;
	border-radius: 50%;
	position: relative;
	left: 33.3333%;
	margin-top: 14px;
}

.icon:hover {
	background: #999;
}

.spiel {
	padding-top: 21px;
	text-align: left;
	font-family: "helevetica neue", sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #666;
	font-weight: lighter;
	padding-bottom: 63px

}
.contact {
	text-align: center;
	padding-bottom: 63px;

}

footer {
	height: 180px;
	background: #ececec;
}

.place_holder {

	border: 1px dashed #999;
}

.invisible {
	visibility: hidden;
}