
.about {
	height: 300px;

}

.brief {
	height: 300px;
}

.header--work {
	text-align: center;
}

.work {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	margin:0 auto;
}

.stagger { 
	left: 12.5%;
	position: relative;
}

.hide {
	display: none;
}

.project {
	position:relative;
	padding-top: 35%;
}

.break {
	background: #808080;
	height: 75px;

}

.icon_case {
	margin: auto;
}


.icon {
	background: #ececec;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	position: relative;
	left: 33.3333%;
	margin-top: 25px;

}

.invisible {
	visibility: hidden;
}